@CHARSET "ISO-8859-1";

.ui-widget {
	font-size: 13px !important;	
}

#top {
    background:url('../resources/css/img/fundo-topo.png');    
    background-repeat: repeat-x;
    height:95px;
    border-bottom:4px solid #023A68;    
}

#centro_topo{
	margin: auto;
	margin-top: 0px;
	width: 900px;
	height: 123px;		
}

.texto_informativo {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:18px;
    text-align: center !important;
    font-weight: bold;
    color: #023A68;          
}

.texto_informativo1 {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:18px;
    text-align: center !important;
    font-weight: bold; 
    color: #023A68;                             
}

.texto_informativo_12 {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align: center !important;
    font-weight: bold; 
    color: #023A68;                             
}

.texto_informativo_14 {
    font-family:"Helvetica, Arial, Trebuchet MS",   sans-serif;
    font-size:14px;
    text-align: center !important;
    font-weight: bold; 
    color: #023A68;                             
}

.texto_informativo_16 {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:16px;
    text-align: center !important;
    font-weight: bold; 
    color: #023A68;                             
}

.texto_informativo_20 {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:20px;
    text-align: center !important;
    font-weight: bold; 
    color: #023A68;                             
}

.texto_informativo_negrito_16 {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:16px;
    text-align: center !important;
    font-weight: bold;                             
}

.texto_topo{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #023A68;
}

body{
    padding: 0;
    margin: 0;       
}

.texto_menu{
    font-family:  "Century Gothic", Trebuchet MS, Arial, Helvetica, sans-serif;   
    margin-left: 12px;
    font-weight: bold;
    color: #023A68;
    font-size: 14px;
}

.texto_center_26{
    font-family:  "Century Gothic", Trebuchet MS, Arial, Helvetica, sans-serif;   
    margin-left: 0px;
    font-weight: bold;
    color: #023A68;
    font-size: 26px;
}

.texto_center_24{
    font-family:  "Century Gothic", Trebuchet MS, Arial, Helvetica, sans-serif;   
    margin-left: 240px;
    font-weight: bold;
    color: #023A68;
    font-size: 24px;
}

.texto_center_20{
    font-family:  "Century Gothic"", Trebuchet MS, Arial, Helvetica, sans-serif;   
     margin-left: 100px;
    font-weight: bold;
    color: #000080;  
    font-size: 20px;
}

.texto_center_18{
    font-family:  "Century Gothic", Arial,Trebuchet MS, Arial, Helvetica, sans-serif;   
     margin-left: 135px;
    font-weight: bold;
    color: #023A68;
    font-size: 18px;
}

.texto_center_16{
    font-family:  Century Gothic "Trebuchet MS", Arial, Helvetica, sans-serif;   
     margin-left: 120px;
    font-weight: bold;
    color: #023A68;
    font-size: 16px;
}

.texto_center_11{
    font-family:  Verdana, Arial, Helvetica,  Century Gothic "Trebuchet MS",   sans-serif;   
    font-weight: bold;
    color: #023A68;
    font-size: 11px;    
}

.texto_center_12{
    font-family:  Arial, Helvetica,  Century Gothic "Trebuchet MS",   sans-serif;   
    font-weight: bold;
    color: #023A68;
    font-size: 12px;    
}

.texto_center_2{
    font-family: Helvetica, Verdana, Century Gothic "Trebuchet MS", Arial, sans-serif;   
    font-weight: bold;
    color: #023A68;
    font-size: 10px;    
}

.texto_login{
    font-family:  Century Gothic "Trebuchet MS", Arial, Helvetica, sans-serif;   
    font-weight: bold;
    font-size: 18px;
}

.sem_borda{
    border-top: -1px;
    border-left: -1px;
    border-right: -1px;
    border-bottom: -1px;
    
}

.texto_subtopo{   
    font-size:14px;
    font-weight: bold;
    color: #023A68;
}

.texto_subtoposair { /* LAYOUT - NORTH - SAIR */
    font-size:14px;
    font-weight: bold;
    color: #023A68;
}

.text-left-mid { text-align: left; vertical-align: middle; }
.text-right-mid { text-align: right; vertical-align: middle; }

.column-01 { width: 01%; }
.column-50 { width: 50%; }

.texto_sair{
    font-family:  Century Gothic "Trebuchet MS", Arial, Helvetica, sans-serif;   
    font-weight: bold;
    color: #023A68;
    font-size: 14px;
    
    border-style: solid;
    border-color: #E6E6FA;  
}

a:link, a:visited {
	text-decoration: none
	}